.menuDrawer {
    animation: smoothDrawerClosing .6s;
}

.activeMenuDrawer {
    animation: smoothDrawerOpening .6s;
}

@keyframes smoothDrawerOpening {
    0% {
        height: 0px;
    }

    100% {
        height: 180px;
    }
}

@keyframes smoothDrawerClosing {
    0% {
        height: 180px;
    }

    100% {
        height: 80px;
    }
}

/* =============================================================== */

.menuOptions {
    animation: hideOptionsToSide .6s;
}

.activeMenuOptions {
    left: 0px;
    animation: showOptionsFromSide .6s;
    opacity: 1;
}

@keyframes showOptionsFromSide {
    0% {
        left: -100px;
    }

    100% {
        left: 0px;
    }
}

@keyframes hideOptionsToSide {
    0% {
        left: 0px;
    }

    100% {
        left: -100px;
    }
}